set_var EASYRSA_REQ_COUNTRY	"{{ openvpn_easy_rsa_vars_EASYRSA_REQ_COUNTRY }}"
set_var EASYRSA_REQ_PROVINCE	"{{ openvpn_easy_rsa_vars_EASYRSA_REQ_PROVINCE }}"
set_var EASYRSA_REQ_CITY	"{{ openvpn_easy_rsa_vars_EASYRSA_REQ_CITY }}"
set_var EASYRSA_REQ_ORG		"{{ openvpn_easy_rsa_vars_EASYRSA_REQ_ORG }}"
set_var EASYRSA_REQ_EMAIL	"{{ openvpn_easy_rsa_vars_EASYRSA_REQ_EMAIL }}"
set_var EASYRSA_REQ_OU		"{{ openvpn_easy_rsa_vars_EASYRSA_REQ_OU }}"
set_var EASYRSA_DIGEST		"{{ openvpn_easy_rsa_vars_EASYRSA_DIGEST }}"
